html, body, #app {
    height: 100%;
    margin: 0;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav {
    background-color: #FEBB02;
}

.left {
    padding-left: 3rem;
}

.right {
    padding-right: 3rem;
}

.nomostrar {
    display: none;
}

.iconosHome{
    margin: 4rem 0;
}

img {
    width: 100%;
}



.logo {
    margin-top: 3rem;
    width: 75%;
}

.logo-nav {
    max-width: 150px;
}

.texto {
    font-size: 1.3rem;
    margin: 3rem 0;
}

.footer {
    height: 70px;
    background-color: #113C73;
    color: whitesmoke;
}

.footer p {
    text-align: center;
    margin-top: 1rem;
}

/* -------------------------------NOVEDADES */
.cardModificada{
    border: none;
}

.tituloCard{
    font-size: 1.3rem;
    font-weight: bolder;
    font-style: italic;
    color: #113C73;
}

.boton{
    background-color: #FEBB02;
    color: #113C73;
    padding: 0.5rem 4rem;
    font-weight: bold;
    width: 100%;
}

/* -------------------------------ADMIN NOVEDADES */

.center {
    text-align: center;
    margin-top: 2rem;
    font-style: italic;
}

table {
    font-size: 0.9rem;
}

table > thead {
    border-bottom: solid 1px black;
}


/* TITULO SERVICIOS */

.titulo-servicios {
    font-size: 8rem;
    color: #F1C40F; 
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2); 
    font-weight: bold; 
    text-align: center;
    z-index: 2; /* Asegura que el texto esté por encima de la capa oscura */
    position: relative;
    height: 40%;
   
}

.titulo-servicios span {
    color: #ffffff; /* Color azul */
    top: 0; 
    left: 15%; 
}

.servicios-section {
    background-image: url('../img/salas_vip/fondo-servicios.jpg'); 
    background-size: cover; 
    background-position: bottom; 
    padding: 50px 0; 
    position: relative; 
}

.servicios-section::before {
    content: '';
    position: absolute; /* Posiciona la capa oscura sobre la imagen */
    top: 0; /* Alinea a la parte superior */
    left: 0; /* Alinea a la izquierda */
    right: 0; /* Alinea a la derecha */
    bottom: 0; /* Alinea a la parte inferior */
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    z-index: 1; /* Asegura que esté por encima de la imagen de fondo */
}

.linea-amarilla {
    height: 30px; 
    background-color: #F1C40F; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: 1;
}



